<section class="container">
    <form [formGroup]="mainForm" (submit)='submitForm()'>
        <table class="table table-responsive table-striped table-hover">
            <tbody>
                <tr formArrayName="customFields" *ngFor="let item of getCustomFields.controls; let i = index;">
                    <ng-container [formGroupName]="i">
                        <td ><a (click)='removeWithIndex(i)'>X</a></td>
                        <td>
                            {{ getCustomFields.controls[i].get("name")?.value }}
                        </td>
                        <td>
                            <ng-container [ngSwitch]="getCustomFields.controls[i].get('field_type')?.value">
                                <ng-container *ngSwitchCase="'number'">
                                    <input formControlName="value" type="number" [required]="getCustomFields.controls[i].get('required')?.value" style="direction: ltr;text-align:left;" class="form-control">
                                </ng-container>
                                <ng-container *ngSwitchCase="'text'">
                                    <input formControlName="value" type="text" [required]="getCustomFields.controls[i].get('required')?.value" dir="auto" class="form-control">
                                </ng-container>
                                <ng-container *ngSwitchCase="'textarea'">
                                    <textarea formControlName="value" dir="auto" [required]="getCustomFields.controls[i].get('required')?.value" class="form-control"></textarea>
                                </ng-container>
                 
                                <ng-container *ngSwitchCase="'html'">
                                    <textarea formControlName="value" dir="auto" [required]="getCustomFields.controls[i].get('required')?.value" class="form-control"></textarea>
                                    <div [innerHtml]='getCustomFields.controls[i].get("html")?.value'>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'date'">
                                    <input formControlName="value" [required]="getCustomFields.controls[i].get('required')?.value" type="date">
                                </ng-container>
                                <ng-container *ngSwitchCase="'selectdate'">
                                    <input formControlName="value" type="date">-
                                    <input formControlName="value" type="date">
                                </ng-container>
                                <ng-container *ngSwitchCase="'selectbox'">
                                        <select name="" [required]="getCustomFields.controls[i].get('required')?.value" id="">
                                            <option [value]="item" *ngFor="let item of getCustomFields.controls[i].get('value')?.value.split('-')">{{ item }}</option>
                                        </select>
                                        <input type="text" formControlName="value" [value]='getCustomFields.controls[i].get("value")?.value'>
                                </ng-container>
                                <ng-container *ngSwitchCase="'radio'">
                                    <ng-container *ngFor="let item of getCustomFields.controls[i].get('value')?.value.split('-')">
                                    <input type="radio" [name]='"radio"+i' [id]='item' [value]="item" >
                                    <label [for]="item">{{ item }}</label>
                                    </ng-container>
                                    <input type="text" formControlName="value" [value]='getCustomFields.controls[i].get("value")?.value'>
                                </ng-container>
                            <ng-container *ngSwitchCase="'checkbox'">
                                <ng-container *ngFor="let item of getCustomFields.controls[i].get('value')?.value.split('-')">
                                    <input type="checkbox" [name]='"checkbox"+i' [id]='item' [value]="item" >
                                    <label [for]="item">{{ item }}</label>
                                    </ng-container>
                                    <input type="text" formControlName="value" [value]='getCustomFields.controls[i].get("value")?.value'>
                        </ng-container>
                            </ng-container>
     <p style="color:red;" *ngIf="getCustomFields.controls[i].get('value')?.errors?.pattern">
                                       مقدار وارد شده معتبر نیست
                                    </p>
                                    <p style="color:red;" *ngIf="getCustomFields.controls[i].get('value')?.errors?.required">
                                     پر کردن مقدار وارد شده اجباری میباشد
                                     </p>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <button class="btn btn-info" (click)='newFieldModal.open()'>+ New Field</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success"  [disabled]="!mainForm.valid">+ Submit Form</button>
                    </td>
                </tr>
            </tfoot>
        </table>

    </form>
</section>


<ngx-smart-modal #newFieldModal [identifier]="'newFieldModal'" [closable]="false" customClass="nsm-dialog-animation-ttb">
    <div class="header"><span class="icon-close fas fa-times" (click)="newFieldModal.close()"></span><span class="title"><span>افزئدن فرم</span></span>
    </div>
    <div class="modal-body">

        <div class="">
            <form [formGroup]="newFieldForm" (submit)='addField()'>

                <select formControlName='field_type' class="form-control">
                  <option [disabled]='true' [selected]='true'>نوع فیلد را انتخاب کنید...</option>
                  <option [value]="'number'">عددی</option>
                  <option [value]="'text'">رشته ای</option>
                  <option [value]="'textarea'">توضیحی</option>
                  <option [value]="'html'">html</option>
                  <option [value]="'date'">تاریخ</option>
                  <option [value]="'selectdate'">بازه تاریخی</option>
                  <option [value]="'selectbox'"> انتخاب از لیست</option>
                  <option [value]="'radio'"> رادیویی</option>
                  <option [value]="'checkbox'"> چک باکس</option>
                </select>
                <input type="text" formControlName='name' class='form-control' placeholder="نام فیلد">
                <input type="text" formControlName='pattern' class='form-control' placeholder="پترن (با ریجکس)">
                <input type="text" formControlName='value' class='form-control' placeholder="مقدار فیلد">
                <label for="req_checkbox">اجباری ؟</label>
                <input formControlName='required' type="checkbox" id='req_checkbox' name="required">

                <div class="col-xs no-margin">

                    <button class="btn btn-success" type="submit" [disabled]="!newFieldForm.valid" style="display:block;margin:auto;">
          افزودن فیلد
              <i class="fa fa-money" style="    float: right;
              margin-left: 10px;
              margin-top: 3px;"></i>
          </button>
                </div>
                <br>
            </form>

        </div>
    </div>
</ngx-smart-modal>


<router-outlet>

</router-outlet>