/* You can add global styles to this file, and also import other style files */

@import "~ngx-smart-modal/ngx-smart-modal";
// modal
ngx-smart-modal {
    nsm-content,
    .nsm-content {
        padding: 0 !important;
        border-radius: 10px 10px 0 0;
    }
    .nsm-dialog {
        width: 100%;
        max-width: 650px !important;
    }
    .header {
        text-align: right;
        font-size: 13px;
        background-color: #4a5459!important;
        padding: 14px 20px;
        border-radius: 4px 4px 0 0;
        .title {
            color: #fff;
        }
    }
    .icon-close {
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        color: #fff;
        background-color: #5c656a;
        padding: 3px;
        font-size: 20px;
        border-radius: 50%;
        float: left;
        cursor: pointer;
        font-weight: 100;
        font-size: 17px;
        width: 23px;
        height: 23px;
        text-align: center;
    }
    button[type=submit] {
        font-weight: 200;
        font-size: 14px;
        border-radius: 30px;
        border: inherit;
        color: #898989;
        padding: 6px 17px;
        outline: none;
        cursor: pointer;
        text-align: center;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #2ecc71;
        color: #fff!important;
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .modal-body {}
}